h1 {
    color: #27aedb;
    text-align: center;
    }
    

button{
    color: #27aedb;
    text-align: center;
    justify-content: center;
    align-items: center;
}

ul>li{
    cursor: pointer;
}

.curr{
    text-decoration: underline;
    color: rgb(203, 106, 122);
}